<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vue的双向数据绑定v-model</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id = 'app'>
		<p>{{msg}}</p>
		<input type="text" v-model='msg'>
		<!-- 复选框的单选 -->
		<label for="checkbox">{{checked}}</label>
		<input type="checkbox" id='checkbox' v-model='checked'>

		<div class="box">
			<label for="a">黄瓜</label>
			<input type="checkbox" id = 'a' value="黄瓜" v-model='checkedName'>

			<label for="b">地瓜</label>
			<input type="checkbox" id = 'b' value="地瓜" v-model='checkedName'>

			<label for="c">土豆</label>
			<input type="checkbox" id = 'c' value="土豆" v-model='checkedName'>
			<br/>
			<span>{{checkedName}}</span>
		</div>
		<label>{{txt}}</label>
		<input v-model.lazy="txt">
		<label>{{msg2}}</label>
		<input v-model.trim="msg2">
	</div>
	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				msg: 'vue',
				msg2:'',
				checked:false,
				checkedName:[],
				txt:''
			},
			methods:{},
		})
	</script>
</body>
</html>